.allowed-email__create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.allowed-email .select-custom {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.allowed-email__button {
  margin: 15px auto 0;
  width: 170px;
  background: var(--se-life-green);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 13px 0;
  margin-bottom: 25px;
}

.allowed-email .pagination {
  padding-bottom: 40px;
}

.allowed-email table {
  width: 100%;
  border: 1px solid #cecece6e;
  color: #393939;
  border-spacing: 0;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  border-collapse: collapse;
}

.allowed-email thead {
  background: #edeced;
  font-weight: 500;
  font-size: 18px;
}

.allowed-email .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.allowed-email .user span, .allowed-email td>a {
  width: 4%;
  font-family: var(--manrope-font);
  font-weight: 500;
}

.allowed-email tr {
  border-bottom: 1px solid;
  border-color: #cecece6e;
}

.allowed-email tr:last-child {
  border: 0;
}

.allowed-email thead td span:first-child {
  text-align: left;
}

.allowed-email th, td {
  padding: 13px 0;
  border-right: 1px solid #cecece6e;
}

.allowed-email td>a {
  color: var(--se-sky-blue);
}

.allowed-email__actions {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.allowed-email__action {
  padding: 7px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 7px;
}

.allowed-email__action.send {
  background: var(--se-life-green);
}

.allowed-email__action.delete {
  background: #ee2020;
}

.allowed-email__empty {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--inter-font);
  letter-spacing: -2px;
  text-align: center;
  margin-top: 20px;
  color: var(--se-dark-grey);
}