.code-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.code-inputs {
  display: flex;
  justify-content: start;
  align-items: center;
}
.code-inputs input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  height: 65px;
  width: 50px;
  border-radius: 10px;
  margin: 0 4px;
  padding: 0;
  background: var(--se-light-blue);
  font-size: 38px;
}
.code-inputs input:focus {
  outline: none;
}
.code-inputs input:nth-child(3n) {
  margin-right: 24px;
}
