/* UIField */

.ui-field {
  display: grid;
  text-align: left;
  grid-gap: 10px;
}

.ui-field__label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.ui-field__input {
  border-radius: 12px;
  background: var(--se-light-blue);
}

.ui-field__error {
  width: 100%;
  color: red;
  margin-top: 10px;
}


/* UIForm */

.ui-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ui-form__button {
  margin-top: 20px;
  background: var(--se-life-green);
  color: #fff;
  padding: 14px 0;
  font-size: 18px;
}

.ui-form__button:hover {
  background: #3abe52;
}


/* UITitle */

.ui-title__head {
  text-align: center;
  margin-bottom: 46px;
}

.ui-title__title {
  font-family: var(--inter-font);
  letter-spacing: -3px;
  font-size: 42px;
  font-weight: 500;
  color: #4d4a4a;
  margin-bottom: 2px;
}

.ui-title__desc {
  font-weight: 400;
  font-size: 20px;
  color: var(--se-light-grey);
}


/* UIDropdown */

.dropdown {
  width: 200px;
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  box-shadow: 0 0 10px 0 #00000050;
  border: var(--field-border);
  border-radius: 10px;
  padding: 5px;
}

.dropdown li {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: .25s ease-out;
}


.dropdown li:hover,
.dropdown li.selectedOption {
  background: #e0e0e027;
}

/* UI INPUT */
.ui-input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ui-input-field__label {
  margin-bottom: 5px;
}

.ui-input-field__input {
  padding: 8px;
  border-radius: 4px;
}

.ui-input-field__input--error {
  border-color: red;
}

.ui-input-field__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}