@font-face { font-family: 'Raleway'; font-weight: 300; src: url('./assets/fonts/Raleway-Light.ttf') format('truetype') };
@font-face { font-family: 'Raleway'; font-weight: 400; src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype') };
@font-face { font-family: 'Raleway'; font-weight: 500; src: url('./assets/fonts/Raleway-Medium.ttf') format('truetype') };
@font-face { font-family: 'Raleway'; font-weight: 600; src: url('./assets/fonts/Raleway-SemiBold.ttf') format('truetype') };
@font-face { font-family: 'Raleway'; font-weight: 700; src: url('./assets/fonts/Raleway-Bold.ttf') format('truetype') };

@font-face { font-family: 'Manrope'; font-weight: 400; src: url('./assets/fonts/Manrope-Regular.ttf') format('truetype') };
@font-face { font-family: 'Manrope'; font-weight: 500; src: url('./assets/fonts/Manrope-Medium.ttf') format('truetype') };
@font-face { font-family: 'Manrope'; font-weight: 700; src: url('./assets/fonts/Manrope-Bold.ttf') format('truetype') };

@font-face { font-family: 'Avanti'; font-weight: 400; src: url('./assets/fonts/avanti.otf') format('opentype') };
@font-face { font-family: 'Avanti'; font-weight: 700; src: url('./assets/fonts/avanti\ bold.otf') format('truetype') };


:root {
  --raleway-font: 'Raleway', ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --manrope-font: 'Manrope', ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --avanti-font: 'Avanti', ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
  max-width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

