.quiz-statistics table {
  width: 100%;
  border: 1px solid #cecece6e;
  color: #393939;
  border-spacing: 0;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  border-collapse: collapse;
}

.quiz-statistics thead {
  background: #edeced;
  font-weight: 500;
  font-size: 18px;
}

.quiz-statistics .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.quiz-statistics tr {
  border-bottom: 1px solid;
  border-color: #cecece6e;
}

.quiz-statistics tr:last-child {
  border: 0;
}

.quiz-statistics th, td {
  padding: 13px 0;
  border-right: 1px solid #cecece6e;
}

.quiz-statistics td>a {
  color: var(--se-sky-blue);
  font-weight: 500;
}